/* .basic {
  margin: 15px;
  background-color: black;
  width: 65vh;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
} */

/* hr {
  width: 500px;
} */

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* #board {
  width: 400px;
  height: 400px ;

  background-color: #cdc1b5;
  border: 6px solid #bbada0;
  
  margin:  auto;
  display: flex;
  flex-wrap: wrap;
} */


/* .square {
  width: 90px;
  height: 90px;
  border: 5px solid #bbada0;

  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
} */

div[data-value] {
  background-color: rgb(130, 87, 87, 10%);
  margin: auto;
  width: min-content;
  border-color: darkred;
  border: 15px;
} 


div[data-value="2"] {
  background-color: #eee4da;
  color: #727371;
}

div[data-value="4"] {
  background-color: #ece0ca;
  color: #727371;
}

div[data-value="8"] {
  background-color: #f4b17a;
  color: white;
}

div[data-value="16"]{
  background-color: #f59575;
  color: white;
}

div[data-value="32"]{
  background-color: #f57c5f;
  color: white;
}

div[data-value="64"]{
  background-color: #f65d3b;
  color: white;
}

div[data-value="128"]{
  background-color: #edce71;
  color: white;
}

div[data-value="256"]{
  background-color: #edcc63;
  color: white;
}

div[data-value="512"]{
  background-color: #edc651;
  color: white;
}

div[data-value="1024"]{
  background-color: #eec744;
  color: white;
}

div[data-value="2048"]{
  background-color: #ecc230;
  color: white;
}

div[data-value="4096"] {
  background-color: #fe3d3d;
  color: white;
}

div[data-value="8192"] {
  background-color: #ff2020;
  color: white;
}


[data-value="your-value"] {
  background-color: #ff2020;

  /* CSS styles for elements with data-value="your-value" */
}
